@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

$oswald : 'Oswald',
sans-serif;

.about-container {
   
    padding: 0px;
    margin: 0px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;



    .about-heading {
        color: #373E28;
        font-family: $oswald;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 24px;
    }
}

// .image-section {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     .about-image {
//         height: 500px;
//     }
// }

.apply-button {
    padding: 12px 40px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    background-color: #373E28;
    color: white;
    font-weight: bold;
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    
    background-color: white;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
}