.tab-panel {
    .tabs {
        display: flex;
        .tab {
            font-size: 18px;
            padding: 10px;
            margin: 0px 70px 50px 0px;
            cursor: pointer;
            color: black;
            font-weight: bold;
        }
    
    }
}